form {
  display: flex;
  flex-direction: column;
}

div {
  margin-top: 15px;
  align-self: center;
}

.input-error {
  border: 2px solid #c21807;
}

.label-error {
  color: #c21807;
}

#error-message {
  display: block;
  color: #c21807;
  margin-left: 105px;
  font-size: 0.85em;
}
